* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navBar {
  background-color: rgb(214, 52, 30);
}

.navbar-expand .navbar-nav .nav-link {
  color: white;
}

/**Acá voy a editar el componente Welcome.jsx**/
.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4rem;
  padding-left: 1rem;
}
.hormigaFoto {
  /* width: 25rem;
  height: 17.625rem; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 55rem;
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f1f1f1;
  width: 1850px;
  height: 500px;
  height: calc(100% - 500px);
}

.welcomeContainer::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  background-attachment: fixed;
  /* background: 50%;
  background: url(/assets/img/hormigas-coloradas-logo.png); */
  background-position: 0% 0%, center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.ropaCircular {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
}

.seguinos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.facebookLogo {
  width: 40.56px;
}
/****************************************/

/***Acá comienzo la edición del componente Carousel.jsx***/

/**container, bottom y top**/
.carouselContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5rem;
  margin-bottom: 10rem;
}

.modaSustentable::before {
  content: "Moda";
  color: black;
}

.modaSustentable::after {
  content: " sustentable";
  font-weight: 700;
  color: black;
}

#container {
  position: relative;
  width: 500px;
  height: 500px;
}
#container div {
  position: absolute;
  width: 500px;
  height: 500px;
  opacity: 0;
  background-image: url(/assets/img/hormigas-coloradas-bugs-bunny.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#container div.bottom {
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#container div.top {
  -webkit-animation: anim 10s infinite alternate;
  animation: change 10s infinite alternate;
}
@keyframes change {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    background-image: url(/assets/img/hormigas-coloradas-remera-stich.png);
  }
  75% {
    opacity: 1;
    background-image: url(/assets/img/hormigas-coloradas-remera-verde.png);
  }
  100% {
    opacity: 1;
  }
}
/* @keyframes change {
    0% {
      opacity: 0;
    }
    36.36% {
      opacity: 0;
    }
    63.63% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  } */

/**containerDos, bottomDos y topDos**/

#containerDos {
  position: relative;
  width: 500px;
  height: 500px;
  padding-left: 1rem;
}
#containerDos div {
  position: absolute;
  width: 500px;
  height: 500px;
  opacity: 0;
  background-image: url(/assets/img/hormigas-coloradas-remera-motito-calavera.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#containerDos div.bottomDos {
  opacity: 1;
  background-image: url(/assets/img/hormigas-coloradas-short-jean-azul.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* #containerDos div.topDos {
    -webkit-animation: change 10s infinite alternate;
    animation: change 10s infinite alternate;
  } */

#containerDos div.topDos {
  -webkit-animation: anim 10s infinite alternate;
  animation: anim 10s infinite alternate;
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    background-image: url(/assets/img/hormigas-coloradas-saco-ochenta.png);
  }
}

/* @keyframes change {
    0% {
      opacity: 0;
    }
    36.36% {
      opacity: 0;
    }
    63.63% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  } */

/* Seccion mapa y contacto */

span {
  color: rgb(214, 52, 30);
  font-weight: bold;
}

.logo-whatsapp {
  width: 1.3rem;
}

p {
  margin-bottom: 0 !important ;
}
/* Seccion horarios */

.custom-gap > div {
  margin-bottom: -0.5rem;
}

.bg-horarios {
  background-color: #7c7b7b3f;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1.3rem;
  grid-row-gap: 1.3rem;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.div4 {
  grid-area: 1 / 2 / 2 / 3;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 3 / 2 / 4 / 3;
}
.div7 {
  grid-area: 1 / 3 / 4 / 4;
}

.div2,
.div3,
.div4,
.div5,
.div6,
.div7 {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
}

.div2::after,
.div3::after,
.div4::after,
.div5::after,
.div6::after,
.div7::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: rgb(214, 52, 30);
}

.div2,
.div3,
.div4,
.div5,
.div6 {
  height: 10rem;
}
.div-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  margin: 0;
}

/* Horarios.css */
.container-horarios {
  background-color: #7c7b7b3f;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  height: 100px;
  background-color: #f9f9f9;
  display: grid;
  place-items: center;
  transition: background-color 0.3s;
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: rgb(214, 52, 30);
}

.card-hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.dia {
  font-weight: bold;
  font-size: 20px;
}

.horario {
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s;
}

.card.hovered .dia {
  opacity: 0;
}

.card.hovered .horario {
  opacity: 1;
  text-align: center;
}

/* Sección Sobre Nosotros */

.nosotros-texto {
  text-align: justify;
  background-color: #7c7b7b3f;
  border-radius: 0.5rem;
  padding: 2rem;
}

/* Sección Footer */

footer {
  position: relative;
  color: black;
  font-weight: bolder;
  padding: 5rem;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.footer-content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-container {
  max-width: 35rem;
}

.left-text {
  text-align: left;
  font-size: 3rem;
  line-height: 1;
}

.right-logo img {
  max-height: 15rem;
}

/* Footer media queries */

@media (max-width: 768px) {
  footer {
    padding: 2rem;
  }

  .left-container {
    max-width: 25rem;
  }

  .left-text {
    font-size: 1rem;
  }

  .right-logo img {
    max-height: 5rem;
  }
}

/* Boton WhatsApp y Up */

.logo-whatsapp-floating {
  width: 2.5rem;
}

.whatsapp-floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

a {
  text-decoration: none;
}

/*Edición del logo.jsx*/

.facebookTexto {
  color: black;
}
